* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
}

body {
  background: url(./assets/images/Stars.jpg) top center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}
/* mobile */
@media screen and (max-width: 539px) {
  body {
    min-height: 100vh;
  }
/* nav bar */
  .nav-desktop {
    display: none;
  }

  .my-project {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color:#170404;
    height: 45px;    

    .fa-bars {
      color: #fcdc4dff;
      font-size: 32px;
    }

    .fa-grin-stars {
      display: flex;
      justify-content: center;
      color: #662C91;
    }

    .fa-grin-stars:hover {
      display: flex;
      justify-content: center;
      color: #9a031eff;
    }


    &__title {
      display: flex;
      justify-content: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #fcdc4dff;
      text-transform: uppercase;
      font-weight: 600;

      > span {
        color: #662C91;
      }
    }
    
    &__title:hover {
      color: #662C91;

      > span {
        color: #fcdc4dff;
      }
    }
  }

/* header */
  .header {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    border-left: 2px solid #662C91;
    
    &__welcome-line {
      > p {
        color: #fff;
        background-color: #170404;
        font-family: monospace;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0px;
        padding-left: 5px;

        > span {
          font-size: 30px;         
        }
      }

    }
    
    &__intro-line {
      > p {
        margin-bottom: 4px;
        width: 101px;
        color: #fff;
        background-color: #170404;
        font-family: monospace;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 2px;        
        padding-left: 5px;
      }
    } 
  }

/* main */
  .main {
    width: 100vw;
    margin-left: 0px;

    &__name-line {
      > h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Dancing Script', cursive;
        font-size: 48px;
        font-weight: bold;
        margin-top: 15px;
        color: #fcdc4dff;
      }
    }
    
    &__starring-line {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 0px;

      > p {
        color: #9a031eff;   
      }
    }
    
    &__role-line {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Barlow Condensed', sans-serif;
      /* margin-top: -10px; */
      > h2 {
        font-size: 40px;
        color: #fcdc4dff;
      }      
    }

    &__description-line {
      margin-left: 10px;
      margin-right: inherit;
      width: 95%;

      > p {
        color: #fff;
        
      }
      .fa-quote-left {
        color: #662c91ff;
      }

      .fa-quote {
        display: flex;
        justify-content: flex-end;

        a > small {
          display: flex;
          flex-direction: row;
          justify-content: end;
          background-color: #170404;
          color: #662C91ff;
        }

        > a {
          text-decoration: none;
        }
      }
    }
  }

  .section-skills {
    .btn-info {
      text-transform: uppercase;
      background-color: #170404;
      color: #9a031eff;
      width: 100%;
      margin-top: 20px;
    }

    .modal {
      height: 500px;
      width: 80%;
      align-items: center;
      margin-left: 30px;

      .custom-modal {
        background-color: lightcoral;

        .modal-header {
          border-bottom: 1px solid #170404;

          .modal-title {
            color: #170404;
          }
        }

        .skill-icon {
          display: flex;
          margin-left: 3px;
          margin-right: 3px;
          justify-content: center;
          color: black;
          font-size: 25px;
        }

        .contact-modal-body{
          display: flex;
          justify-content: center;
        }
        .contact-icon {
          display: flex;
          margin-left: 5px;
          margin-right: 5px;
          justify-content: center;
          color: black;
          font-size: 35px;          
        }

        .modal-footer {
          display: flex;
          justify-content: center;
          
          .btn-default {
            background-color: #170404;
            color: lightcoral;
          }
        }


      }
      .modal-footer {
        border-top: 1px solid #170404;
      }
    }
  }

/* tablet */
@media screen and (min-width: 542px) {
  body {
    min-height: 100%;
  }
  /* no displays */
  .nav-mobile {
    display: none;
  }
  
  .nav-desktop {
    display: none;
  }
  
  .my-project {
    display: none;
  }
  
/* nav bar */
  .nav-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color:#170404;
    height: 45px;    

    .fa-bars {
      color: #fcdc4dff;
      font-size: 32px;
    }

    .fa-grin-stars {
      display: flex;
      justify-content: center;
      color: #662C91;
      font-size: 20px;
    }

    .fa-grin-stars:hover {
      display: flex;
      justify-content: center;
      color: #9a031eff;
    }


    &__title {
      display: flex;
      justify-content: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #fcdc4dff;
      text-transform: uppercase;
      font-weight: 600;

      > span {
        color: #662C91;
      }
    }
    
    &__title:hover {
      color: #662C91;

      > span {
        color: #fcdc4dff;
      }
    }

    &__links {
      display: flex;
      justify-content: space-evenly;
      .icon--link {
        font-size: 23px;
      }
    }
  }

/* header */
  .header {
    display: -webkit-inline-box;
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 20px;
    margin-bottom: 0px;
    border-left: 2px solid #662C91;
    
    &__welcome-line {
      > p {
        color: #fff;
        background-color: #170404;
        font-family: monospace;
        font-size: 28px;
        font-weight: normal;
        letter-spacing: 0px;
        padding-left: 5px;

        > span {
          font-size: 51px;         
        }
      }

    }
    
    &__intro-line {
      > p {
        margin-bottom: 4px;
        width: 101px;
        color: #fff;
        background-color: #170404;
        font-family: monospace;
        font-size: 23px;
        font-weight: normal;
        letter-spacing: 2px;        
        padding-left: 5px;
      }
    } 
  }

/* main */
  .main {
    width: 100vw;
    margin-left: 0px;

    &__name-line {
      > h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Dancing Script', cursive;
        font-size: 69px;
        font-weight: bold;
        margin-top: 15px;
        color: #fcdc4dff;
      }
    }
    
    &__starring-line {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      background-color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 0px;
      font-weight: 500;

      > p {
        color: #9a031eff;   
      }
    }
    
    &__role-line {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Barlow Condensed', sans-serif;
      /* margin-top: -10px; */
      > h2 {
        background-color: black;
        font-size: 54px;
        font-weight: normal;
        color: #fcdc4dff;
      }      
    }

    &__description-line {
      display: inline-table;
      margin-top: 30px;
      margin-left: 10%;
      width: 80%;

      > p {
        color: #f7ecec;
        background-color: black;
        margin-top: 5px;
        font-size: 19px;
        letter-spacing: 1px;
        font-family: monospace; 
        
      }
      .fa-quote-left {
        color: #662c91ff;
        font-size: 3.7em;

      }

      .fa-quote {
        display: flex;
        margin-top: 8px;
        justify-content: flex-end;
        font-size: 21px;

        > a {
          text-decoration: none;
        }

        a > small {
          display: flex;
          flex-direction: row;
          justify-content: end;
          background-color: #170404;
          color: #662C91ff;
        }
      }
    }
  }

  .section-skills {
    .btn-info {
      text-transform: uppercase;
      background-color: #170404;
      color: #9a031eff;
      width: 100%;
      margin-top: 20px;
    }

    .tablet--layout {
      margin-left: auto;
    }

    .modal {
      height: 500px;
      width: 97%;
      align-items: center;

      .custom-modal {
        background-color: lightcoral;

        .modal-header {
          border-bottom: 1px solid #170404;

          .modal-title {
            color: #170404;
          }
        }

        .skill-icon {
          display: flex;
          margin-left: 3px;
          margin-right: 3px;
          justify-content: center;
          color: black;
          font-size: 40px;
        }

        .contact-modal-body{
          display: flex;
          justify-content: center;
        }
        .contact-icon {
          display: flex;
          margin-left: 5px;
          margin-right: 5px;
          justify-content: center;
          color: black;
          font-size: 43px;          
        }

        .modal-footer {
          display: flex;
          justify-content: center;
          
          .btn-default {
            background-color: #170404;
            color: lightcoral;
            font-size: 20px;
          }
        }


      }
      .modal-footer {
        border-top: 1px solid #170404;
      }
    }
  }

  .link-to-projects {
    text-align: center;
    color: antiquewhite;
    font-family: monospace;
    margin-top: 27px;
    padding: 5px 0px;
    font-size: 20px;
    background-color: black;
    
    border: 2px solid #662C91ff;
  }

  .laptop-icon {
    display: flex;
    justify-content: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    margin-bottom: -10px;
    height: 70px;

    &__content {
      display: flex;
      align-items: flex-end;
      margin-bottom: 7px;
      color: #9a031eff;
    }
  }

}

/* desktop */
@media screen and (min-width: 890px) {

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color:#170404;
    height: 55px;

    &__title {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #fcdc4dff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 18px;
      
      > span {
        color: #662C91;
      }    
      
    }

    &__title:hover {
      color: #662C91;

      > span {
        color: #fcdc4dff;
      }
    }

    &__links {
      font-size: 33px;
      display: flex;
      justify-content: center;
      
      .icon--link{
        cursor: pointer;
        margin-left: 20px;
        color: #fff;
      }

      :hover {
        color: #662C91;
      }
    }
  }

/* header */
  .header {
    display: -webkit-inline-box;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20px;
    margin-bottom: 0px;
    border-left: 2px solid #662C91;
    
    &__welcome-line {
      > p {
        color: #fff;
        background-color: #170404;
        font-family: monospace;
        font-size: 20px;
        font-weight: lighter;
        letter-spacing: 1px;
        padding-left: 5px;

        > span {
          font-size: 63px;         
        }
      }

    }
    
    &__intro-line {
      > p {
        margin-bottom: 4px;
        width: 101px;
        color: #fff;
        background-color: #170404;
        font-family: monospace;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 2px;        
        padding-left: 5px;
      }
    } 
  }

/* main */
  .main {
    width: 100vw;
    margin-left: 0px;

    &__name-line {
      > h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Dancing Script', cursive;
        font-size: 99px;
        font-weight: bold;
        margin-top: -5px;
        color: #fcdc4dff;
      }
    }
    
    &__starring-line {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 0px;
      font-size: 21px;
      font-weight: 500;

      > p {
        color: #9a031eff;   
      }
    }
    
    &__role-line {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Barlow Condensed', sans-serif;
      /* margin-top: -10px; */
      > h2 {
        font-size: 72px;
        font-weight: normal;
        color: #fcdc4dff;
      }      
    }

    &__description-line {
      display: inline-table;
      margin-left: 15%;
      margin-right: 12%;
      width: 70%;

      > p {
        color: #f7ecec;
        background-color: black;
        margin-top: 5px;
        font-size: 19px;
        letter-spacing: 1.5px;
        font-family: monospace;        
      }

      a > .fa-quote-left {
        color: #662c91ff;
        font-size: 3.5em;
      }

      .fa-quote {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;

        > a {
          text-decoration: none;
        }

        a > small {
          display: flex;
          flex-direction: row;
          justify-content: end;
          background-color: #170404;
          color: #662C91ff;
        }
      }
    }
  }

  .section-skills {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .desktop--layout {
      margin-left: 2px;
    }
    .btn-info {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      background-color: #170404;
      color: #9a031eff;
      width: 36%;
      margin-top: 20px;
    }


    .modal {
      height: 500px;
      width: 100%;
      align-items: center;
      margin-left: 0px;

      .custom-modal {
        background-color: lightcoral;

        .modal-header {
          border-bottom: 1px solid #170404;

          .modal-title {
            color: #170404;
          }
        }
        
        .skill-icon {
          display: flex;
          margin-left: 3px;
          margin-right: 3px;
          justify-content: center;
          color: black;
          font-size: 40px;
        }

        .modal-footer {
          display: flex;
          justify-content: center;
          
          .btn-default {
            background-color: #170404;
            color: lightcoral;
          }
        }
        .contact-icon {
          display: flex;
          margin-left: 5px;
          margin-right: 5px;
          justify-content: center;
          color: black;
          font-size: 35px;          
        }

        .contact-modal-body {
          display: flex;
          justify-content: center;
          > a {
            text-decoration: none;
          } 
        }
      }
      .modal-footer {
        border-top: 1px solid #170404;
      }
    }
  }

  .link-to-projects {
    text-align: center;
    color: antiquewhite;
    font-family: monospace;
    margin-top: 27px;
    padding: 5px 0px;
    border: 2px solid #662C91ff;
    font-size: 20px;
  }

  .my-project {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;

    .box {
      display: flex;
      justify-content: center;
      flex-direction: row;
      background-color: transparent;
      height: 300px;
      width: 600px;
    }

    h4 {
      font-size: 25px;
      text-align: left;
    }

    .image {
      max-width: inherit;
      max-height: 300px;
      display: flex;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    margin-top: 25px;
    margin-bottom: -10px;
    height: 70px;

    &__content {
      display: flex;
      align-items: flex-end;
      margin-bottom: 7px;
      color: #9a031eff;
      font-size: 17px;
    }
  }

  
}

/*  fonts 

$primary-font: 'Dancing Script', cursive;
$secondary-font: 'Barlow Condensed', sans-serif;

*/