* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
}

body {
  background: url(./assets/images/Stars.jpg) top center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.nav {
  background-color: #170404;
  height: 45px;
}

@media screen and (max-width: 539px) {
  body {
    min-height: 100vh;
  }

  /* nav bar */
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  .nav .fa-bars {
    color: #fcdc4dff;
    font-size: 32px;
  }
  .nav__menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
  .nav__title {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fcdc4dff;
    text-transform: uppercase;
    font-weight: 600;
  }
  .nav__title > span {
    color: #662C91;
  }
  .nav__title:hover {
    color: #662C91;
  }
  .nav__title:hover > span {
    color: #fcdc4dff;
  }

  /* header */
  .header {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    border-left: 2px solid #662C91;
  }
  .header__welcome-line > p {
    color: #fff;
    background-color: #170404;
    font-family: monospace;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    padding-left: 5px;
  }
  .header__welcome-line > p > span {
    font-size: 30px;
  }
  .header__intro-line > p {
    margin-bottom: 4px;
    width: 101px;
    color: #fff;
    background-color: #170404;
    font-family: monospace;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 5px;
  }

  /* main */
  .main {
    width: 100vw;
    margin-left: 0px;
  }
  .main__name-line > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-size: 48px;
    font-weight: bold;
    margin-top: 15px;
    color: #fcdc4dff;
  }
  .main__starring-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
  }
  .main__starring-line > p {
    color: #9a031eff;
  }
  .main__role-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    /* margin-top: -10px; */
  }
  .main__role-line > h2 {
    font-size: 40px;
    color: #fcdc4dff;
  }
  .main__description-line {
    margin-left: 10px;
    margin-right: inherit;
    width: 95%;
  }
  .main__description-line > p {
    color: #fff;
  }
  .main__description-line .fa-quote-left {
    color: #662c91ff;
  }
  .main__description-line .fa-quote {
    display: flex;
    justify-content: flex-end;
  }
  .main__description-line .fa-quote > small {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #170404;
    color: #662C91ff;
  }

  .section-skills .btn-info {
    text-transform: uppercase;
    background-color: #170404;
    color: #9a031eff;
    width: 100%;
    margin-top: 20px;
  }
  .section-skills .modal {
    height: 500px;
    width: 80%;
    align-items: center;
    margin-left: 30px;
  }
  .section-skills .modal .custom-modal {
    background-color: lightcoral;
  }
  .section-skills .modal .custom-modal .modal-header {
    border-bottom: 1px solid #170404;
  }
  .section-skills .modal .custom-modal .modal-header .modal-title {
    color: #170404;
  }
  .section-skills .modal .custom-modal .skill-icon {
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
    justify-content: center;
    color: black;
    font-size: 25px;
  }
  .section-skills .modal .custom-modal .contact-modal-body {
    display: flex;
    justify-content: center;
  }
  .section-skills .modal .custom-modal .contact-icon {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    color: black;
    font-size: 35px;
  }
  .section-skills .modal .custom-modal .modal-footer {
    display: flex;
    justify-content: center;
  }
  .section-skills .modal .custom-modal .modal-footer .btn-default {
    background-color: #170404;
    color: lightcoral;
  }
  .section-skills .modal .modal-footer {
    border-top: 1px solid #170404;
  }

  .link-to-projects {
    text-align: center;
    color: antiquewhite;
    font-family: monospace;
    margin-top: 27px;
    padding: 5px 0px;
    border: 2px solid #662C91ff;
  }

  .laptop-icon {
    display: flex;
    justify-content: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    margin-bottom: -10px;
    height: 70px;
  }
  .footer__content {
    display: flex;
    align-items: flex-end;
    margin-bottom: 7px;
    color: #9a031eff;
  }
}
/*  fonts 

$primary-font: 'Dancing Script', cursive;
$secondary-font: 'Barlow Condensed', sans-serif;

*/