$primary-font: 'Dancing Script', cursive;
$secondary-font: 'Barlow Condensed', sans-serif;

$font__mobile--name: 20px;
$font__mobile--role: 15px;

/*  fonts to use */
/*

- "Verdana", "Helvetica Neue", sans-serif;

- monospace?

*/